.wrapperFlex {
    height: calc(100vh - 80px);
    margin-top: 80px;
    display:flex;
    align-items:center;
    justify-content: center;
}

.wrapper {
    /* min-height: calc(100vh - 80px); */
    margin-top: 80px;
    padding: 3em 1.5em;
}