body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container {
  height: 100%;
  max-width: 1500px;
  margin: 0 auto;
  padding: 0 1.5em;
}

a{
  text-decoration: none;
  cursor: pointer;
}

p {
  margin:  0;
}

.wrapper_title_search {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1em;
}

.wrapper_title_search p {
  font-size: 22px;
  font-weight: bold;
}

.no_results {
  font-size: 20px;
  font-weight: 500;
}

